%section
  %b.github-name Github
  = image_tag "github-mark.png", class: "github-logo"
  %b.small-phrase
    GitHub is the best place to share code with friends, co-workers,
    classmates, and complete strangers. Over eight million people
    use GitHub to build amazing things together.

%section
  = image_tag "create-branch.png", class: "big-images"
  %b.small-phrase
    Create a branch
%section
  = image_tag "add-commits.png", class: "big-images"
  %b.small-phrase
    Add commits
%section
  = image_tag "open-pull-request.png", class: "big-images"
  %b.small-phrase
    Open a Pull Request
%section
  = image_tag "code-review.png", class: "big-images"
  %b.small-phrase
    Discuss and review your code
%section
  = image_tag "merge-master.png", class: "big-images"
  %b.small-phrase
    Merge and deploy
